.block{
    width: 100%;
    margin: 16px 0;
}

.yellow_button{
padding: 16px;
background: var(--electric);
border: 2px solid var(--black);
box-shadow: 0px 4px 0px var(--black);
border-radius: 16px;
color: var(--black);
cursor: pointer;
}

.yellow_button:hover{
    background-color: var(--fire);
}