@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* Color styles */
    --black: #18191F;
    --black-800: #474A57;
    --black-300: #9FA4B4;
    --black-700: #969BAB;
    --black-200: #EEEFF4;
    --black-100: #F4F5F7;
    --white: #FFFFFF;
    --rock: #B69E31;
    --ghost: #70559B;
    --steel: #B7B9D0;
    --water: #6493EB;
    --grass: #74CB48;
    --psychic: #FB5584;
    --fairy: #ffb3c9;
    --ice: #9AD6DF;
    --dark: #75574C;
    --normal: #AAA67F;
    --fighting: #C12239;
    --flying: #A891EC;
    --poison: #A43E9E;
    --ground: #DEC16B;
    --bug: #A7B723;
    --fire: #F57D31;
    --electric: #FFBD12;

    
--contra--blue: #1947E5;
--contra--blue-100: #E9E7FC;
--colors--blue-800: #8094FF;

--colors--pink: #FF89BB;
--colors--pink-800: #FFC7DE;
--colors--pink-200: #FFF3F8;
--black: #18191F;

--colors--yellow: #FFBD12;
--colors--yellow-800: #FFD465;
--colors--yellow-100: #FFF4CC;
--colors--green: #00C6AE;
--colors--green-800: #61E4C5;
--colors--green-100: #D6FCF7;
--colors--red: #F95A2C;
--colors--red-800: #FF9692;
--colors--red-100: #FFE8E8;



/* Effect styles */
--1px-line: inset 0px -1px 0px rgba(24, 24, 24, 1);
--shadow--200:  0px 2px 0px rgba(24, 25, 31, 1);
--shadow--400:  0px 4px 0px rgba(24, 25, 31, 1);
--shadow--600:  0px 6px 0px rgba(24, 25, 31, 1);
--shadow--200:  0px -2px 0px rgba(24, 25, 31, 1);
--shadow--400:  0px -4px 0px rgba(24, 25, 31, 1);
--shadow--600:  0px -6px 0px rgba(24, 25, 31, 1);

}

   /* Text_size styles */
   .extra_bold_44{font: normal 800 44px/54px 'Azeret Mono';}
   .bold_44{ font: normal 700 44px/54px 'Azeret Mono';}
   .medium_44{ font: normal 500 44px/54px 'Azeret Mono';}
   
   .bold_spaced_36{ font: normal 700 36px/40px 'Azeret Mono'; letter-spacing: 8px;
       text-transform: uppercase;}
   .extra_bold_36{ font: normal 800 36px/40px 'Azeret Mono';}
   .bold_36{ font: normal 800 36px/40px 'Azeret Mono';}
   .medium_36{ font: normal 500 36px/40px 'Azeret Mono';}
   
   .extra_bold_27{ font: normal 800 27px/32px 'Azeret Mono';}
   .bold_27{ font: normal 700 27px/32px 'Azeret Mono';}
   .medium_27{ font: normal 500 27px/32px 'Azeret Mono';}
   
   .extra_bold_24{ font: normal 800 24px/28px 'Azeret Mono';}
   .bold_24{ font: normal 700 24px/28px 'Azeret Mono';}
   .medium_24{ font: normal 500 24px/28px 'Azeret Mono';}
   
   .extra_bold_21{ font: normal 800 21px/28px 'Azeret Mono';}
   .bold_21{ font: normal 700 21px/28px 'Azeret Mono';}
   .medium_21{ font: normal 500 21px/28px 'Azeret Mono';}
   
   .extra_bold_17{ font: normal 800 17px/24px 'Azeret Mono';}
   .bold_17{ font: normal 700 17px/24px 'Azeret Mono';}
   .medium_17{ font: normal 500 17px/24px 'Azeret Mono';}
   
   .extra_bold_15{ font: normal 800 15px/20px 'Azeret Mono';}
   .bold_15{ font: normal 700 15px/20px 'Azeret Mono';}
   .medium_15{ font: normal 500 15px/20px 'Azeret Mono';}
   
   .extra_bold_13{ font: normal 800 13px/18px 'Azeret Mono';}
   .bold_13{ font: normal 700 13px/18px 'Azeret Mono';}
   .medium_13{ font: normal 500 13px/18px 'Azeret Mono';}
   
   .extra_bold_12{ font: normal 800 12px/ 'Azeret Mono';}
   .bold_12{ font: normal 700 12px/ 'Azeret Mono';}
   .medium_12{ font: normal 500 12px/ 'Azeret Mono';}
   
   .extra_bold_11{ font: normal 800 11px/16px 'Azeret Mono';}
   .bold_11{ font: normal 700 11px/16px 'Azeret Mono';}
   .medium_11{ font: normal 500 11px/16px 'Azeret Mono';}



*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Azeret Mono', monospace;
}
a{
    text-decoration: none;
    color: inherit;
}

input{
    outline: none;
}

.text-capitalize{
    text-transform: capitalize;
}

.pokeCard {
    border: 1px solid red;
    max-width: 200px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    margin: 10px 0 40px 0;
     
}

.selected-link{
    color: red;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}


/* Pokemon Types */

.bg_rock {

    background: var(--rock);
}
.bg_ghost {

    background: var(--ghost);
}
.bg_steel {

    background: var(--steel);
}
.bg_water {

    background: var(--water);
}
.bg_grass {

    background: var(--grass);
}
.bg_psychic {

    background: var(--psychic);
}
.bg_ice {

    background: var(--ice);
}
.bg_dark {

    background: var(--dark);
}
.bg_normal {

    background: var(--normal);
}
.bg_fighting {

    background: var(--fighting);
}
.bg_flying {

    background: var(--flying);
}
.bg_poison {

    background: var(--poison);
}
.bg_ground {

    background: var(--ground);
}
.bg_bug {

    background: var(--bug);
}
.bg_fire {

    background: var(--fire);
}
.bg_fairy {

    background: var(--fairy);
}
.bg_electric {

    background: var(--electric);
}

.color_black{
    color: var(--black)
}


.color_rock {

    color: var(--rock);
}
.color_ghost {

    color: var(--ghost);
}
.color_steel {

    color: var(--steel);
}
.color_water {

    color: var(--water);
}
.color_grass {

    color: var(--grass);
}
.color_physic {

    color: var(--psychic);
}
.color_ice {

    color: var(--ice);
}
.color_dark {

    color: var(--dark);
}
.color_normal {

    color: var(--normal);
}
.color_fighting {

    color: var(--fighting);
}
.color_flying {

    color: var(--flying);
}
.color_poison {

    color: var(--poison);
}
.color_ground {

    color: var(--ground);
}
.color_bug {

    color: var(--bug);
}
.color_fire {

    color: var(--fire);
}
.color_fairy {

    color: var(--fairy);
}
.color_electric {

    color: var(--electric);
}


/* Pokemon List */

.pokemonList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.searchbar{
    background: #FFFFFF;
border: 2px solid #18191F;
border-radius: 16px;
   font-size: 1.125rem;
   font-family: inherit;
   padding: 16px;
   color: #18191F;
   filter: drop-shadow(0px 4px 0px #18191F);
   width: 80%;
   max-width: 450px;
}

input.searchbar::placeholder{
    color: #18191F;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.pokedex_card{
    background-color: var(--electric);
}
.pokedex_img{
    width: 50%;
    height: auto;
    position: relative;
    float: right;
}

.pokedex_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.loadingPage{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loadingPage p{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}
.pokeball {
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
    border: 10px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    animation: fall .25s ease-in-out,
               shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;
  }
  .pokeball::before,
  .pokeball::after {
    content:"";
    position: absolute;
  }
  .pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
  }
  .pokeball::after {
    top: calc(50% - 10px);
    width: 100%;
    height: 20px;
    background: #000;
  }
  .pokeball__button {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #7f8c8d;
    border: 10px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 10px black;
    animation: blink .5s alternate 7;
  }
  /* Animation */
  @keyframes blink {
    from { background: #eee;}
    to { background: #e74c3c; }
  }
  @keyframes shake {
    0% { transform: translate(0, 0) rotate(0); }
    20% { transform: translate(-10px, 0) rotate(-20deg); }
    30% { transform: translate(10px, 0) rotate(20deg); }
    50% { transform: translate(-10px, 0) rotate(-10deg); }
    60% { transform: translate(10px, 0) rotate(10deg); }
    100% { transform: translate(0, 0) rotate(0); }
  }
  @keyframes fall {
    0% { top: -200px }
    60% { top: 0 }
    80% { top: -20px }
    100% { top: 0 }
  }


  /* Navbar */

  .navlink{
      font-family: 'Azeret Mono', monospace;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 54px;
    color: #18191F;
  }

  .navlink:hover{
    color: #F95A2C;
  }



  /* Home Swiper */


  .mySwiper {
      position: absolute !important;
      z-index: -1;
      top: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Azeret Mono', monospace;
  }
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: orange;
  width: 100%;
  height: 100vh;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .slide1{
      background-color: var(--fire);
  }
  
  .slide2{
      background-color: var(--electric);
  }