
    /* Text_size styles */
.extra_bold__44{font: normal 800 44px/54px 'Azeret Mono' monospace;}
.bold__44{ font: normal 700 44px/54px 'Azeret Mono' monospace;}
.medium__44{ font: normal 500 44px/54px 'Azeret Mono' monospace;}

.bold__spaced__36{ font: normal 700 36px/40px 'Azeret Mono' monospace; letter-spacing: 8px;
    text-transform: uppercase;}
.extra_bold__36{ font: normal 800 36px/40px 'Azeret Mono' monospace;}
.bold__36{ font: normal 800 36px/40px 'Azeret Mono' monospace;}
.medium__36{ font: normal 500 36px/40px 'Azeret Mono' monospace;}

.extra_bold__27{ font: normal 800 27px/32px 'Azeret Mono' monospace;}
.bold__27{ font: normal 700 27px/32px 'Azeret Mono' monospace;}
.medium__27{ font: normal 500 27px/32px 'Azeret Mono' monospace;}

.extra_bold__24{ font: normal 800 24px/28px 'Azeret Mono' monospace;}
.bold__24{ font: normal 700 24px/28px 'Azeret Mono' monospace;}
.medium__24{ font: normal 500 24px/28px 'Azeret Mono' monospace;}

.extra_bold__21{ font: normal 800 21px/28px 'Azeret Mono' monospace;}
.bold__21{ font: normal 700 21px/28px 'Azeret Mono' monospace;}
.medium__21{ font: normal 500 21px/28px 'Azeret Mono' monospace;}

.extra_bold__17{ font: normal 800 17px/24px 'Azeret Mono' monospace;}
.bold__17{ font: normal 700 17px/24px 'Azeret Mono' monospace;}
.medium__17{ font: normal 500 17px/24px 'Azeret Mono' monospace;}

.extra_bold__15{ font: normal 800 15px/20px 'Azeret Mono' monospace;}
.bold__15{ font: normal 700 15px/20px 'Azeret Mono' monospace;}
.medium__15{ font: normal 500 15px/20px 'Azeret Mono' monospace;}

.extra_bold__13{ font: normal 800 13px/18px 'Azeret Mono' monospace;}
.bold__13{ font: normal 700 13px/18px 'Azeret Mono' monospace;}
.medium__13{ font: normal 500 13px/18px 'Azeret Mono' monospace;}

.extra_bold__12{ font: normal 800 12px/ 'Azeret Mono' monospace;}
.bold__12{ font: normal 700 12px/ 'Azeret Mono' monospace;}
.medium__12{ font: normal 500 12px/ 'Azeret Mono' monospace;}

.extra_bold__11{ font: normal 800 11px/16px 'Azeret Mono' monospace;}
.bold__11{ font: normal 700 11px/16px 'Azeret Mono' monospace;}
.medium__11{ font: normal 500 11px/16px 'Azeret Mono' monospace;}
